.dotoBtn {
  position: absolute;
  color: white;
  margin-top: 10px;
  margin-left: 1820px;
  font-size: 20px;
}
.dotoBtn:hover {
  font-weight: 600;
}

.js-toDoFormWrap {
  display: block;
  position: absolute;
  overflow: auto;
  margin-top: 55px;
  margin-left: 1550px;
  height: 900px;
  width: 350px;
  box-sizing: 0 5px 25px;
  background: transparent;
  visibility: hidden;
  opacity: 0;
}

.js-toDoFormWrapWrap {
  background-color: #f6e58d;
}
.js-toDoList {
  list-style: none;
  padding: 10px 0;
}

.js-toDoList li {
  list-style: none;
  padding: -10px 0;
  border-top: 1px solid #0984e3;
  direction: flex;
  align-items: center;
  transition: 0.5s;
  background-color: #f6e58d;
}

.js-toDoForm {
  display: flex;
  margin-top: 15px;
  margin-right: 60px;
  background-color: #f6e58d;
  justify-content: center;
  align-items: center;
}
.js-toDoForm input {
  border: none;
  margin-top: 15px;

  background: transparent;
  font-size: 20px;
  caret-color: black;
}

.js-toDoForm input::placeholder {
  color: black;
  opacity: 0.7;
}

.js-toDoForm input:hover {
  border-bottom: 1px solid black;
}
.active {
  visibility: visible;
  opacity: 1;
}
